<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" configfailurepolicy="continue">

    <listeners>
        <listener class-name="automation.Listener"/>
        <listener class-name="resources.ExtentReporterNG"/>
    </listeners>

    <test name ="utilities" >
        <packages>

            <package name="automation.tests"/>



        </packages>

    </test>

</suite>